/* global */
body{
    background-color: lightgray;
}
.image-size{
    max-width: 100%;
    max-height: 60%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #00acee;
}
.icon{
    color: #00acee;
    font-size: 20px;
}
li{
    list-style: none;
}
button{
    border-radius: 20%;
    background-color: #00acee;
    color: white;
    font-weight: bold;
    margin:10px;
    font-size: 20px;
    padding: 5px;
}
button:hover{
    color: red;
}
.container{
    width: 97%;
    margin: auto;
    line-height: 1.6em;
    font-size: 18px;
}
/* header */
.main-header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
}
.navbar{
    display: flex;
    padding-top: 15px;
    font-size: 18px;
  
}
.navbar li{
    padding-left: 20px;
}
.twitter{
    font-size: 40px;
    margin-top: 5px;
}
.profile-img{
    border-radius: 50%;
    padding:0;
    margin: 5px;
}

/* Section */
#sidebar1,
#sidebar3{
    width: 24%;
}
#sidebar2{
    width:50%;
}
.main-doc{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin: 10px;
}
.profile-detail{
    background-color: white;
}
.blue-body{
    background-color:#00acee;
    height: 120px;
}
 .profile,
.profile-detail ul{
    display: flex;
    padding-top: 10px;
}
.profile figcaption{
    padding:10px;
}
.profile-detail ul li{
    padding-right: 10px;
}
.profile-detail ul li p{
    color: #00acee;
    font-size: 20px;
    font-weight: bold;
}

/* main-section */
.main-section{
    background-color: white;
    padding: 30px;
}
.border-background{
    border: .2px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.profile-header{
    display: flex;
    justify-content: space-between;
}
.other-tweet{
    display: flex;
    justify-content: space-evenly;
}
.taskbar{
    margin:0 0 20px 0;
    padding:10px;
    background-color: white;
    text-align: center;
}
.taskbar h1{
    font-size: 30px;
}
/* media */
@media (max-width:1000px){
    .main-header{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        padding: 2px;
        background-color: white;
    }
    .main-doc{
        display: unset;
    }
    #sidebar1,#sidebar2, #sidebar3{
        width: 100%;
    }
    .taskbar{
        margin:10px;
    }
    .resize{
        margin:auto;
        width: 30%;
        height:30%;
        padding: 10px;
    }
}